    <div class="column is-12">
      <h1 class='title has-text-centered mb-4'><%=title%></h1>
    </div>

    <div class="field column is-12">
      <p class='has-text-danger	'> <%= flash[:message]%> </p>
    </div>