// Place all the styles related to the Businesses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.homepage-hero {
  background: url('hero-bg.png');
  background-position: center bottom;
  background-size: cover;
}
